* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
  }
  #product-list{
    display: none;
  }
  
  :root {
    --body-color: #E4E9F7;
    --nav-color: #101011;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
  }
  html{
    font-size: 18px;
  }
  body {
    background-color: var(--body-color);
    
  }
  
  body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
  }
  
  body.dark nav {
    border: 1px solid #393838;
  
  }
  
  nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
  }
  
  nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .menu .logo-toggle {
    display: none;
  }
  
  .nav-bar .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
  }
  
  .nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 100%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .nav-links li .active::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 100%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .nav-links li:hover a::before {
    opacity: 1;
  }
  
  .nav-links li .active::before {
    opacity: 1;
  }
  
  .nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
  }
  
  .darkLight-searchBox .dark-light,
  .darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .dark-light i,
  .searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dark-light i.sun {
    opacity: 0;
    pointer-events: none;
  }
  
  .dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
  }
  
  .dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
  }
  
  .searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchBox {
    position: relative;
  }
  
  .searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
  }
  
  .search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
  }
  
  body.dark .search-field input {
    color: var(--text-color);
  }
  
  .search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
  }
  
  body.dark .search-field i {
    color: var(--text-color);
  }
  
  
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  
  .menu {
    position: fixed;
    height: 150vh;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }
  
  nav.active .menu {
    left: -0%;
  }
  
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
  }
  
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 20px;
  }
  
  .nav-links li a {
    display: block;
    margin-top: 1px;
  
  }
  .nav-link-1 {
    display: flex;
    margin-right: 30px;
  }
  
  .nav-link-1 li {
    list-style: none;
  }
  
  .nav-link-1 li a {
    text-decoration: none;
    margin-left: 60px;
    color: white;
  }
  
  .nav-link-1 li .active {
    color: #f3eab1;
  }
  a{
    text-decoration: none;
  }
  .Link{
    color: #f3eab1;
    padding: 0.5rem;
    position: relative;
  }
  .Link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9c8051;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  .Link::before{
    bottom: 0;
    left: 0;
  }
  .Link:hover::before{
    transform: scaleX(1);
   
  }
  .Link:hover{
    color: #9c8051;
  }
  .logo-1{
    transition: 0.35s ease;
  }
  .logo-1:hover{
    opacity: 0.5;
  }
  
  @media (max-width:749px) {
    .nav-link-1 {
      display: none;
    }
  }
.container{
  width: 100%;
  height: 1100px;
  margin-top: 75px;
  display: grid;
  grid-template-columns:0.6fr repeat(1, minmax(auto, 0.6fr)) ;
  gap: 30px;
  padding: 25px 50px;
}  
@media (max-width:800px){
  .container{
    height: 2500px;
    grid-template-columns: 1fr;
  }
  .box img{
    min-width: 350px;
  }
}
@media (max-width:650px){
  .box img{
    min-width: 250px;
  }
}
@media only screen and (max-width:1051px){
  .box img{
    max-width: 200px;
  }
}
@media only screen and (max-width:860px){
  .box img{
    max-width: 170px;
  }
}

.container .box div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.421rem;
  width: 100%;
  height: auto;
  background-color: #111;
  border-radius: 0 10px 10px 0;
}
.container .box div a{
  text-decoration: none;
  color: #f3eab1;
}
.container .box{
 display: flex;
  border: 2px solid #9c8051 ;
  border-radius: 10px;
}
.box img{
  width: 300px;
  border-radius: 10px 0 0 10px;
}

footer {
  width: 100%;
  background: #111;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p, a {
  color: #fff;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower .email {
  margin-top: 15px;
}

footer .content .lower .phone {
  margin-top: 15px;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #111;
  background: #9c8051;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #f3eab1;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #f3eab1;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 5px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #f3eab1;

}

.media-icons h2 {
  margin-top: 20px;
  color: white;
  display: block;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
  text-decoration: none;
}

footer a:hover {
  color: #f3eab1;
}

@media (max-width:1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width:950px) {
  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}
.search-category{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  height:230px; 
  overflow:hidden;
}
.search-results .result-items{
  background-color: #010718;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 8px 12px;
  visibility: hidden;
  border-bottom: 1px solid #aaa7cc20;
}

.result-items img{
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.result-items .description{
  line-height: 20px;
  
}
.result-items .description p{
  font-weight: 600;
  font-size: 17px;
  color: #66669a;

}
.result-items .description  span{
  font-size: 14px;
  color: #5c5174;
}
a{
  text-decoration: none;
  color: white;
}